.submit-detail{
     width: 435px;
    height: 60px;
    margin: 35%;
    background: rgb(84, 84, 241);
    border-radius: 5px;
    font-size: 21px;
    color: whitesmoke;
    border: none;
    padding-left: 10px;
}